* {
  box-sizing: border-box;

  border: 1px solid black;
}

body {
  margin: 0;
}


main {
  width: 1140px;
  margin: auto;
}

header {
  height: 200px;
  display: flex;
}

header > section:nth-of-type(1),
header > section:nth-of-type(3) {
  flex-basis: 15%;
}

header > section:nth-of-type(2) {
  flex-basis: 70%;

  display: flex;
  justify-content: center;
  align-items: center;
}

header > section:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-logo {
  width: 120px;
}

.search-area {
  width: 500px;
}

.search-area fieldset {
  border: 2px solid #455ba8;
  border-radius: 5px;
  padding: 2px;

  display: flex;
}

#query {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border: 0;
  outline: none;
  /* outline : input 태그에 포커싱되었을때
    이를 표현하기 위한 바깥선
  */
  flex-basis: 92%;
}

#search-btn{
  flex-basis: 8%;
  cursor: pointer;
  font-size: 20px;
  color : #455ba8;
  border: 0;
  background-color: transparent;
  /* transparent 배경색 투명 */
}

nav {
  height: 50px;
  border-bottom: 2px solid black;
}

nav > ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}

nav li {
  flex-basis: 150px;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: black;
  height: 100%;
  display: block;

  text-align: center;
  line-height: 50px;

  transition-duration: 0.2s;
  border-radius: 5px;
}

nav a:hover {
  background-color: #455ba8;
  color: white;
}